/**
 * Includes any font.
 *
 * The font must be placed in: ../font/NAME.[eot|woff|ttf|svg]
 *
 * @param (string) $name - font and folder name;
 *
 *
 * @example:
 *
 * ../font/Arial/bold/bold.[eot|woff|ttf|svg]
 * @include include_font(Arial);
 */
@font-face {
  font-family: "Museo300";
  src: url(../fonts/Museo300.eot);
  src: url(../fonts/Museo300.eot?#iefix) format("embedded-opentype"), url(../fonts/Museo300.woff) format("woff"), url(../fonts/Museo300.ttf) format("truetype"), url(../fonts/Museo300.svg#Museo300) format("svg"); }
@font-face {
  font-family: "MuseoSans";
  src: url(../fonts/MuseoSans.eot);
  src: url(../fonts/MuseoSans.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSans.woff) format("woff"), url(../fonts/MuseoSans.ttf) format("truetype"), url(../fonts/MuseoSans.svg#MuseoSans) format("svg"); }
@font-face {
  font-family: "Museo500";
  src: url(../fonts/Museo500.eot);
  src: url(../fonts/Museo500.eot?#iefix) format("embedded-opentype"), url(../fonts/Museo500.woff) format("woff"), url(../fonts/Museo500.ttf) format("truetype"), url(../fonts/Museo500.svg#Museo500) format("svg"); }
@font-face {
  font-family: "Museo700";
  src: url(../fonts/Museo700.eot);
  src: url(../fonts/Museo700.eot?#iefix) format("embedded-opentype"), url(../fonts/Museo700.woff) format("woff"), url(../fonts/Museo700.ttf) format("truetype"), url(../fonts/Museo700.svg#Museo700) format("svg"); }
/* line 13, ../scss/partials/_typography.scss */
a:link, a:visited {
  text-decoration: none;
  color: #2e5f84; }

/* line 17, ../scss/partials/_typography.scss */
a:hover {
  color: #15414d; }

/* line 22, ../scss/partials/_typography.scss */
.view .feed-icon {
  content: '' !important; }
  /* line 24, ../scss/partials/_typography.scss */
  .view .feed-icon:before {
    content: '' !important; }
  /* line 27, ../scss/partials/_typography.scss */
  .view .feed-icon a.feed-icon:before {
    content: "\e60e" !important; }

@media (max-width: 960px) {
  /* line 3, ../scss/partials/_header.scss */
  .sec-header a {
    width: 100%; }
  /* line 6, ../scss/partials/_header.scss */
  .sec-header img {
    margin: 0 auto; }

  /* line 10, ../scss/partials/_header.scss */
  .sec-menu {
    float: none !important;
    text-align: center !important; } }
/* line 16, ../scss/partials/_header.scss */
.sec-menu {
  clear: both;
  float: right;
  margin-top: 15px;
  text-align: right;
  border: 0;
  width: 100%; }
  /* line 24, ../scss/partials/_header.scss */
  .sec-menu .sec-inner {
    padding: 0; }
  /* line 28, ../scss/partials/_header.scss */
  .sec-menu .menu-main {
    float: right;
    width: 100%; }
  /* line 34, ../scss/partials/_header.scss */
  .sec-menu .nav {
    display: inline-block; }
  /* line 38, ../scss/partials/_header.scss */
  .sec-menu li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0;
    text-transform: uppercase;
    float: none; }
  /* line 45, ../scss/partials/_header.scss */
  .sec-menu a {
    font-size: 22px;
    font-size: 1.375rem;
    padding: 16px 20px;
    font-family: "Museo300", Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: block; }
    /* line 52, ../scss/partials/_header.scss */
    .sec-menu a:hover {
      background-color: #EBEBEB;
      color: #333; }
  /* line 60, ../scss/partials/_header.scss */
  .sec-menu .active a,
  .sec-menu .active-trail a {
    color: #333;
    background-color: #EBEBEB; }
  /* line 66, ../scss/partials/_header.scss */
  .sec-menu .last {
    margin-right: 0; }

/* line 3, ../scss/partials/_footer.scss */
.footer {
  background: #D1D3D4 url(../images/small-circle.png) no-repeat;
  background-position: 110% -95px; }

/* line 8, ../scss/partials/_footer.scss */
.sec-footer {
  background: none; }

/* line 12, ../scss/partials/_footer.scss */
.footer-wrapper {
  background: url(../images/big-circle.png) no-repeat;
  background-position: -250px -95px;
  font-family: "MuseoSans", Helvetica Arial, sans-serif;
  position: relative; }
  /* line 20, ../scss/partials/_footer.scss */
  .footer-wrapper h2 {
    color: #333;
    font-size: 22px;
    font-size: 1.375rem;
    font-family: "Museo500", Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
    text-transform: capitalize; }
  /* line 28, ../scss/partials/_footer.scss */
  .footer-wrapper h3 {
    color: #333;
    font-size: 16px;
    font-size: 1rem;
    font-family: "Museo500", Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
    text-transform: capitalize; }
  /* line 36, ../scss/partials/_footer.scss */
  .footer-wrapper .sec-inner .footer-section,
  .footer-wrapper .sec-inner section {
    width: 23.85321%;
    float: left;
    margin-right: 1.52905%;
    display: inline; }

/* line 1, ../scss/partials/_search.scss */
.page-search .search-form .form-submit {
  padding: 9px 0.5em; }

/* line 4, ../scss/partials/_search.scss */
.form-item-retain-filters {
  margin-top: 40px !important; }

/* line 10, ../scss/partials/_search.scss */
.page-search-events .events-topbar-search select {
  width: 100%; }
/* line 17, ../scss/partials/_search.scss */
.page-search-events .sec-inner .apachesolr_search-results .search-result.highlighted {
  background: #c6d8e2; }
/* line 21, ../scss/partials/_search.scss */
.page-search-events .sec-inner .apachesolr_search-results .search-result .search-fields-events-right .date,
.page-search-events .sec-inner .apachesolr_search-results .search-result .search-fields-events-right .price,
.page-search-events .sec-inner .apachesolr_search-results .search-result .search-fields-events-right .icon-link {
  font-size: 14px;
  display: block;
  margin-bottom: 3%;
  font-style: normal; }
/* line 29, ../scss/partials/_search.scss */
.page-search-events .sec-inner .apachesolr_search-results .search-result .search-fields-events-right .icon-link {
  margin-top: 30px; }
/* line 32, ../scss/partials/_search.scss */
.page-search-events .sec-inner .apachesolr_search-results .search-result .search-fields-events-right .link-search {
  font-family: "Gill Sans W01","Gill Sans",serif;
  font-weight: bold; }
  /* line 35, ../scss/partials/_search.scss */
  .page-search-events .sec-inner .apachesolr_search-results .search-result .search-fields-events-right .link-search a {
    padding: 7px;
    background: #2e5f84;
    color: white !important; }

@media (max-width: 960px) {
  /* line 46, ../scss/partials/_search.scss */
  .block-facetapi {
    margin-bottom: 30px !important; } }
/* line 53, ../scss/partials/_search.scss */
.apachesolr-browse-blocks .block-facetapi,
.sec-inner .block-facetapi {
  display: inline-block;
  float: left;
  width: 16.66667%;
  float: left;
  margin-right: 4.16667%;
  display: inline; }
  /* line 57, ../scss/partials/_search.scss */
  .apachesolr-browse-blocks .block-facetapi:last-of-type,
  .sec-inner .block-facetapi:last-of-type {
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }

@media (min-width: 480px) and (max-width: 767px) {
  /* line 63, ../scss/partials/_search.scss */
  .sec-inner .block-facetapi {
    width: 100%;
    float: left;
    margin-right: 3.44828%;
    display: inline; }

  /* line 66, ../scss/partials/_search.scss */
  .sec-inner .block-facetapi {
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; } }
@media (max-width: 479px) {
  /* line 72, ../scss/partials/_search.scss */
  .sec-inner .block-facetapi {
    float: none;
    width: 100%; } }
/* line 1, ../scss/partials/_school_event.scss */
.school-event-link a {
  padding: 7px;
  background: #2e5f84;
  color: white !important;
  color: #F15E4A;
  margin-top: 1.35em;
  display: block;
  font-size: 0.8em;
  font-family: "Gill Sans W01","Gill Sans",serif;
  font-weight: bold;
  margin-top: 20px;
  float: left; }

/* line 13, ../scss/partials/_school_event.scss */
.pane-bundle-events-gallery-pane {
  margin-bottom: 10px; }
  /* line 15, ../scss/partials/_school_event.scss */
  .pane-bundle-events-gallery-pane .pane-title {
    position: relative !important; }
  @media (max-width: 800px) {
    /* line 19, ../scss/partials/_school_event.scss */
    .pane-bundle-events-gallery-pane .pane-title {
      top: 35px !important; } }
  @media (min-width: 800px) {
    /* line 24, ../scss/partials/_school_event.scss */
    .pane-bundle-events-gallery-pane .pane-title {
      top: 45px !important; } }

/* line 1, ../scss/partials/_forms.scss */
.form-submit {
  background: #2e5f84 !important;
  border-color: #2e5f84 !important; }
  @media (max-width: 960px) {
    /* line 1, ../scss/partials/_forms.scss */
    .form-submit {
      width: 100%; } }

/* line 1, ../scss/partials/_pager_slideshow.scss */
.pager li a,
.flexslider li a {
  background-color: #2e5f84 !important; }

@media (max-width: 960px) {
  /* line 7, ../scss/partials/_pager_slideshow.scss */
  .flexslider {
    margin-bottom: 0; } }
/* line 14, ../scss/partials/_pager_slideshow.scss */
.pager .pager-previous span, .pager .pager-current span {
  background-color: #3b7aaa !important; }

/* line 1, ../scss/partials/_icons.scss */
[class^="ic-"]:hover:before,
.mobile-trigger.active:before,
[class*=" ic-"]:hover:before {
  color: #2e5f84 !important; }

/* line 1, ../scss/partials/_faq.scss */
.field-name-field-qa .ui-state-default a,
.field-name-field-qa .ui-widget-content .ui-state-default a,
.field-name-field-qa .ui-widget-header .ui-state-default a {
  color: #2e5f84 !important; }

/* line 20, ../scss/ringsted_styles.scss */
.page {
  background-image: none; }

/* line 24, ../scss/ringsted_styles.scss */
.sec-content {
  background: #EBEBEB; }
  /* line 26, ../scss/ringsted_styles.scss */
  .sec-content .sec-inner {
    background: #EBEBEB; }

/* line 31, ../scss/ringsted_styles.scss */
.sec-msg {
  clear: both; }

/* line 36, ../scss/ringsted_styles.scss */
.front .panel-3col-33-stacked {
  margin-top: -30px; }
/* line 39, ../scss/ringsted_styles.scss */
.front .sec-content .sec-inner, .front .sec-content .menu-serv-wrapper {
  padding-top: 0; }
