//------------------------------------------------------------------------------
// Footer
.footer {
  background: $grayMedium url(../images/small-circle.png) no-repeat;
  background-position: 110% -95px;
}

.sec-footer {
  background: none;
}

.footer-wrapper {
  background: url(../images/big-circle.png) no-repeat;
  background-position: -250px -95px;
  font-family: $MuseoSans;
  position: relative;

  // ---------------------------------------------------------------------------
  // Titles styles
  .block {
    h2 {
      color: $def-color;
      @include font-size(22);
      font-family: $MuseoMiddle;
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    h3 {
      color: $def-color;
      @include font-size(16);
      font-family: $MuseoMiddle;
      margin-bottom: 40px;
      text-transform: capitalize;
    }
  }
  .sec-inner {
    .footer-section,
    section {
      width: 23.85321%;
      float: left;
      margin-right: 1.52905%;
      display: inline;
    }
  }
}
