.school-event-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4% 7% !important;
  a {
    @include button;
    color: #F15E4A;
    margin-top: 1.35em;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 20px;
    float: left;
  }
  span {
    display: inline-block;
    float: left;
  }
}

.pane-bundle-events-gallery-pane {
  margin-bottom: 10px;
  .pane-title {
    position: relative !important;
  }
  @include breakpoint(max-width 800px) {
    .pane-title {
      top: 35px !important;
    }
  }
  @include breakpoint(800px) {
    .pane-title {;
      top: 45px !important;
    }
  }
}

.view-school-events-list {
  .views-row {
    position: relative;
  }
  .views-field-nothing {
    .field {
      padding: 0 !important;
    }
  }
}
