.page-search .search-form .form-submit {
  padding: 9px 0.5em;
}
.form-item-retain-filters {
  margin-top: 40px !important;
}

.page-search-events {
  .events-topbar-search {
    select {
      width: 100%;
    }
  }
  .sec-inner {
    .apachesolr_search-results {
      .search-result {
        &.highlighted {
          background: lighten($blue, 40%);
        }
        .search-fields-events-right {
          .date,
          .price,
          .icon-link {
            font-size: 14px;
            display: block;
            margin-bottom: 3%;
            font-style: normal;
          }
          .icon-link {
            margin-top: 30px;
          }
          .link-search {
            font-family: "Gill Sans W01","Gill Sans",serif;
            font-weight: bold;
            a {
              @include button;
            }
          }
        }
      }
    }
  }
}

@include breakpoint(max-width 960px) {
  .block-facetapi {
    margin: 30px 0 !important;
  }
}
