@include include_font("Museo300");
$MuseoLight:"Museo300", Helvetica, Arial, sans-serif;

@include include_font("MuseoSans");
$MuseoSans:"MuseoSans", Helvetica Arial, sans-serif;

@include include_font("Museo500");
$MuseoMiddle:"Museo500", Helvetica, Arial, sans-serif;

@include include_font("Museo700");
$MuseoBold:"Museo700", Helvetica, Arial, sans-serif;

a:link, a:visited {
  text-decoration: none;
  color: $pri;
}
a:hover {
  color: #15414d;
}

.sec {
  h1, h2, h3, h4, h5,
  .pane-title, .view-header {
    font-family: $MuseoLight !important;
  }
  font-family: $MuseoSans !important;
  font-size: 16px;
  .field-name-field-teaser {
    font-family: $MuseoSans !important;
    font-size: 24px;
  }
  .list-content-wrapper > a {
    font-family: $MuseoLight !important;
    font-size: 16px !important;
  }
}

.view {
  .feed-icon {
    content: '' !important;
    float: right;
    margin-top: 20px;
    &:before {
      content: '' !important;
    }
    a.feed-icon:before {
      content: "\e60e" !important;
    }
  }
}
