//-----------------------------------------------------------------------------
// Images
$sprite: "../images/sprite.png";
$ie-sprite: "../images/ie/sprite.png";
$sprite-responsive: "../images/sprite_responsive.png";
//-----------------------------------------------------------------------------
// Fonts


$font-serif: serif;

$sans:  "MuseoSans", Helvetica, Arial, sans-serif;
$sans-strict:  "Museo300", Helvetica, Arial, sans-serif;

$sans-med:"Museo300", Helvetica, Arial, sans-serif;
$sans-med-strict: "Museo300", Helvetica, Arial, sans-serif;

$sans-bold: "Museo700", Helvetica, Arial, sans-serif;

$sansLight: Helvetica, Arial, sans-serif;

$trebuchet: "MuseoSans", Helvetica, Arial, sans-serif;


//  Ringsted Coloures
//-----------------------------------------------------------------------------

$def-color: #333;

$white: #fff;
$black: #000;

$lightgray: #EBEBEB;
$grayMedium: #D1D3D4;


$lightRedRingsted: #e6052f;
$redText: #C5062D;
$grayText: #999999;
$lightgrayText: #6C6C6C;
$liteGray: #f3f3f3;


// Old color
$grayLight: #f2f2f2;
$lightergray: #a0a0a0;
$slatgrayLight: #5e6a6a;
$graylight: #f5f5f5;
$gray: #666;
$verylightgray: #fafafa;
$slategrey: #586464;

$orange: #EB5A0F;

$green: #96c31e;
$forestgreen: #41500F;

$blue: #4b7891;
$verysofrblue: #bec8c8;

$red: #C30A32;
$redRingsted: #C30A32;

$cyanlight: #00afc3;

$cream: #fadc7d;
