/**
 * Styling of local content pane
 *
 * TODO:
 */

.view-list-local-content{
  .view-content{
    .views-row{ 
      .views-field-title{
        a{
          @extend %title-local-list-item;
          color: $col-primary;
          &:hover {
            color: $col-button-hover;
          }
        }
      }
      
      .views-field-term-node-tid {
        margin-bottom: 0;
      }
      
      &:hover{
        background-color: $col-gray-10;
      }
    }
  }
}

.view-list-local-content {
  &.view-display-id-panel_pane_1 .view-content .views-row {
    margin-bottom: 1em;
  }
}

.view-list-local-content {
  &.view-display-id-panel_pane_2,
  &.view-display-id-panel_pane_4,
  &.view-display-id-panel_pane_5 {
    @extend .bl-grid-space;
    padding-left: 0;
    padding-right: 0;
    
    div[class*="views-field-field-image"] {
      margin: 2em 0 0 0;
      img {
        width: 100%;
      }
    }
    .views-field-field-teaser {
      font-size: $text-second;
      word-wrap: break-word;
      &:hover {
        color: $col-button-hover;
      }     
    }
    .views-field-title a {
      font-size: $text-block;
      text-transform: uppercase;
      color: $col-primary;
      margin-bottom: 0.8333333333333333em;
      display: block;
      &:hover {
        color: $col-button-hover;
      }
    }
    .views-row {
      padding: 1.5em 1em;
      
      @include at-breakpoint($mq-bp-desktop) {
        padding: 1.5em 2em;
      }
      
      &:hover {
        background-color: #ededed;
        
      }
    }    
  }
}

.view-list-local-content {
  &.view-display-id-panel_pane_2 {    
    div[class*="views-field-field-image"] {
      margin: -1em;
    }
    .views-row {
      padding: 1em;
    }
  }
}

/**
 * Event listing pane
 *
 * TODO:
 */




////////////////////////

.view-id-events_list{
  &.view-display-id-panel_pane_3 {
    @extend .bl-grid-space;
    margin-bottom: $space;

    .view-content .views-row{
      padding: 0 0 1em 0;
      border: $col-gray-25 1px solid; 
      margin-bottom: 1.8em;

      img{
        width: 100%;
      }

      &:hover{
        background-color: $col-gray-10;
      }

      .views-field-ds-field-date{
        span{
          @extend %title-local-list-item;
          font-size: $text-label;
          color: $col-gray-70;
          display: block;
          margin: 1.2em 0 0.6em 0;
          padding-left: 1em;
        }
      }
      
      .views-field-label {
        .field-content {
        a {
            padding-right: 3em;
            line-height: 1em;
            padding-left: 0.8em;
            display: block;
            font-weight: bold;
              
            &:hover {
              color: $col-button-hover;
            }
          }
        }
      }
      
      .views-field-im-shared-tax-event {
          .field-content {
              a {
                @extend %text-tag;
                padding-right: 3em;
                padding-left: 1em;
                margin: 1.2em 0 0.6em 0;
                line-height: 1em;
                display: block;
              }  
          }
      }
      
      .views-field-im-shared-tax-place {   
          .field-content {
              &:before {
                @extend %icon;
                @extend .ic-location:before;
                margin-right: 7px;
                position: relative;
                top: 1px;
              }
              margin-top: 0.8em;
              padding-left: 1em;
              display: block;
              font-size: $text-meta;
              color: $col-gray-70;           
          }  
      }
    }
  }
}