/**
 * Styling pager.
 *
 */
.pager{
  list-style: none;
  height: em(34,18);

  li{
    float: left;
    margin: em(6,18);
    width: em(34,18);

    span,
    a{
      background-color: $col-primary;
      color: $col-content;
      width: 100%;
      height: 100%;
      display: inline-block;
      vertical-align: bottom;
      text-align: center;
      padding: em(4,18) em(2,18);
      @include border-radius(3px);
      &:hover{
        background-color: $col-button-hover;
      }

    }

    &.pager-current span,
    &.pager-previous span,
    &.pager-next span{
      background-color: $col-gray-25;
    }
  }
}

.item-list{
  width: 100%;
  .pager{
    width: auto;
    display: table;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
