/**
 * TODO:
 * - Clean up -- lot of markup has evolved while we styled.
 *
 */

.page-search{
  h2{
    @extend .title-block;
    margin-bottom: em(12,24);
  }
}

.pane-apachesolr-info{
  @extend .title-block;
  margin-bottom: em(12,24);
}

.search-results-wrapper{
  h2{
    @extend .title-block;
    margin-bottom: em(12,24);
  }
  > .item-list{
    width: 100%;
    .pager{
      display: table;
      margin: 0 auto;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
  }
}

// Remove the padding for the search
.topbar-search{
  .sec-inner{
    padding-left: 0;
    padding-right: 0;
  }
  .block.facetapi-collapsible.expanded .facet-collapsible-wrapper {
    margin-right: 5px; // We have shadow on the facebox which is 5px.
  }
}

// The styling of /search
.page-search{
  .search-form{
    margin-top: em(32,18);
    margin-bottom: em(18,18);
    .form-item{
      margin: 0;
      .form-text{
        padding: em(8,16) em(8,16) em(8,16) em(34,16);
        margin: 0;
        font-size: em(18,18);
        background-image: url("#{$theme_path}/images/icon-search-flip.png");
        background-position: em(10,18) 50%;
        background-repeat: no-repeat;
      }
    }
    .form-submit{
      padding: 0 em(8,16);
      margin: $padding 0 0;
      font-size: em(18,18);
      text-transform: uppercase;
    }
    
    @include at-breakpoint($mq-bp-tablet-plus) {
      .form-item{
        width: 80%;
        display: inline-block;
      }
      .form-submit{
        width: 18%;
        float: right;
        margin: 0;
      }
    }
    
    @include at-breakpoint($mq-bp-desktop) {
      .form-item{
        width: 87%;
      }
      .form-submit{
        width: 12%;
      }
    }
  }


  // The search results on /search
  .search-results{
    margin-bottom: em(24,24);
    .search-result{
      padding: em(20,18)  em(12,18);
      border-bottom: 1px solid $col-gray-40;
      &:first-child{
        border-top: 1px solid $col-gray-40;
      }
      &:hover{
        background-color: $col-gray-10;
      }
      .search-info{
        display: none;
      }
      .title{
        font-size: em(20,18);
        margin-bottom: em(15,18);
      }
      .created{
        margin-bottom: em(12,18);
        color: $col-gray-70;
      }
      em{
        font-weight: bold;
        font-style: italic;

        @include ie8_font_fix('bi');
      }
    }
  }

  // The category facet selection on /search
  .block-facetapi{
    .title{
      display: inline-block;
      padding: $space/2;
      margin: 0;
      border: 1px solid $col-gray-25;
      margin-bottom: -1px;
      z-index: 2;
      $col-shadow: rgba($col-text, 0.15) !default;
      box-shadow: 2px 2px 0 $col-shadow;
      &:after{
        width: 1em;
        padding-left: $space;
        content: "+";
        display: inline-block;
      }
    }
    &.expanded{
      .title{
        $col-shadow: rgba($col-text, 0.15) !default;
        border-bottom: 1px solid $col-content;
        box-shadow: 2px 0 0 $col-shadow;
        &:after{
          display: inline-block;
          width: 1em;
          padding-left: $space;
          content: "-";
        }
      }
    }

    .item-list{
      $col-shadow: rgba($col-text, 0.15) !default;
      box-shadow: 3px 3px 0 $col-shadow, 0 0 0 $col-shadow;
      border: 1px solid $col-gray-25;
      margin-bottom: $space;
      margin-top: 0;
      display: table;
      .facetapi-collapsible-checkboxes{
        padding: $space/2;
        .leaf{
          display: inline-block;
          float: left;
          margin-right: 1em;
          margin-bottom: 1em;
          font-size: em(15,18);
          font-style: italic;
          font-weight: bold;
          @include ie8_font_fix('bi');
          .facetapi-facet{
            display: inline-block;
          }
          &:after{
            border-left: 1px solid $col-gray-55;
            margin: 0 0 0 1em;
            content:"";
            width: 1px;
          }
          &.last {
            border: none;
            padding: 0;
            &:after{
              border: none;
            }
          }
          .facetapi-checkbox{
            display: none;
          }
        }
      }
      clear: both;
    }
  }

  .pane-apachesolr-info,
  .block-current-search{
    margin: $space 0 0 0;
    clear: both;
    h2{
      margin: 0;
      em{
        font-weight: bold;
        font-style: normal;
      }
    }

    .current-search-group-title{
      color: $col-gray-70;
      margin-right: 0.5em;
      font-size: em(15,18);
      font-weight: bold;
      font-style: italic;
      float: left;
      @include ie8_font_fix('bi');
    }
    .current-search-item-text{
      margin-top: $space;
      clear:both;
    }

    .item-list{
      width: auto;
      display: inline;
      font-size: em(15,18);
      font-weight: bold;
      font-style: italic;
      @include ie8_font_fix('bi');
      li{
        display: inline-block;
        margin-left: 0.5em;
        margin-bottom: 0.5em;
        float: left;
        &:before{
          padding: 0;
          border-left: 1px solid $col-gray-55;
          margin-right: 0.5em;
          content: ' ';
          width: 1px;
        }
        &.first{
          border: none;
          padding: 0;
          margin-left: 0;
          &:before{
            border: none;
          }
        }
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    margin-bottom: $space 0;
  }

}


/**
 *  Styling of /news/list and /events/list
 */

.page-news-list{
  .reg-top{
    clear: both;

    .pane-page-title{
      margin-bottom: $space;
      clear: right;
    }
    .pane-apachesolr-form,
    div[class*="pane-facetapi-"]{
      width: 100%;
      margin-bottom: $space/2;
    }
    div[class*="pane-facetapi-"]{
      &:first-child{
        clear: left;
      }
    }
    
    @include at-breakpoint($mq-bp-desktop) {
      .pane-apachesolr-form,
      div[class*="pane-facetapi-"]{
        @include span-columns(8,24);
        margin-bottom: $space;
      }
      
      .pane-apachesolr-form{
        @include omega;
      }
    }
    
  }

}

.page-events-grid,
.page-events-list{
  .reg-top{
    clear: both;
    
    .pane-apachesolr-form,
    div[class*="pane-facetapi-"]{
      width: 100%;
      margin-bottom: $space/2;
    }
    div[class*="pane-facetapi-"]{
      &:first-child{
        clear: left;
      }
    }
    
    @include at-breakpoint($mq-bp-desktop) {
      .pane-apachesolr-form,
      div[class*="pane-facetapi-"]{
        @include span-columns(6,24);
        margin-bottom: $space;
      }
      
      .pane-apachesolr-form{
        @include omega;
      }
    }
  }
}


.page-events-grid,
.page-news-list,
.page-events-list{

  .sec-content{
    .sec-inner{
      > .contextual-links-region{
        //margin-top: em(32,18);
      }
    }
  }

  .pane-apachesolr-info{
    margin: $space 0 0 0;
    clear: both;
    em{
      font-weight: bold;
      font-style: normal;
    }
  }

  .pane-apachesolr-form{
    position: relative;
    label{
      display: none;
    }
    input{
      margin:0;
    }
  }

  @include at-breakpoint($mq-bp-desktop) {
    div[class*="pane-facetapi-"]{
      display: inline-block;
      float: left;
      margin-right: 1em;
    }
  }

  .chosen-container{
    font-size: em(16,18);
    //margin: 0 0 $space 0;
    max-width: 100%;
    
    @include at-breakpoint($mq-bp-tablet-minus) {
      max-width: 100%;
      width: 100% !important;
    }

    .chosen-choices,
    .chosen-drop{
      background: $col-content;
      padding: 0;
      border: 1px solid $col-gray-55;
    }

    .chosen-choices{  
      li.search-field{
        margin: 0;
       
        input.default{
          @extend .form-text;
          font-family: "Gill Sans W01", "Gill Sans", serif;
          text-transform: uppercase;
          border: 1px solid $col-content !important;
          min-width: 300px;    
          min-height: 2.2em !important;  
          
          @include at-breakpoint($mq-bp-mobile) {
            width: 100%;  
            min-width: 300px;   
            min-height: 2.2em !important;   
          }
        }
      }
      li.search-choice{
        border: 0;
        @include border-radius(0);
        background: none $col-gray-40;
        box-shadow: none;
        margin: 5px;
        line-height: 1em;
        padding: 0.3em 2.5em 0.3em 1em;
        text-transform: uppercase;
      }
    }
    .chosen-drop{
      .chosen-results{
        margin: 0;
        .result-selected,
        .active-result{
          border: 0;
          box-shadow: none;
          padding: 0.6em 2.5em 0.6em 1em;
          text-transform: uppercase;
          margin: 0;
          &.highlighted{
            background: none $col-gray-25;
            color: $col-text;
          }
        }
      }
    }
  }

  .chosen-container-active{
    .chosen-choices{
      box-shadow: none;
    }
  }
  .form-text{
    //padding: 0.8em;
  }
  .form-actions{
    position: absolute;
    right: 8px;
    top: 10px;
    z-index: 2;
    padding:0;
    margin:0;

    .form-submit{
      padding: 0 em(8,16);
      background-image: url("#{$theme_path}/images/icon-search-flip.png");
      background-size: 21px 21px;
      background-color: rgba(0, 0, 0, 0);
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0 none;
      @include border-radius(0);
      margin: 0;
      width: 21px;
      height: 21px;
      position: relative;
      text-indent: -9999px;

    }
  }
  
  select.facetapi-multiselect {
    width: 100%;
  }
}



/**
 * Styling of page: /news/list
 */
.page-news-list{
  .search-results{
    margin-top: 1em;
    margin-bottom: $space;
    width: 100%;
    clear: both;
    .search-result{
      padding: em(20,18)  em(12,18);
      border-bottom: 1px solid $col-gray-40;
      &:first-child{
        border-top: 1px solid $col-content;
      }
      &:hover{
        background-color: $col-gray-10;
        &:first-child{
          border-top: 1px solid $col-gray-40;
        }
      }
      .search-info{
        display: none;
      }
      .title{
        font-weight: bold;
        margin-bottom: em(15,18);
        @include ie8_font_fix('b');
      }
      .created{
        margin-bottom: em(12,18);
        color: $col-gray-70;
      }
    }
  }
}


.page-events-grid,
.page-events-list{
  #block-kkms-social-kkms-social-share-block{
    clear: both;
    &:after {
      content: '';
      display: block;
      clear: both;
    }

  }

  .pane-menu-menu-events-submenu{
    overflow: hidden;
    width: 100%;
    min-height: 3em;
    position: relative;
    vertical-align: top;
    display:block;
    clear: both;

    .pane-title{
      position: absolute;
      right: 3em;
      top: 1em;
      margin-right: .5em;
      text-transform: uppercase;
      display: inline-block;
      color: $col-gray-70;
    }
    .menu{
      position: absolute;
      right: 0;
      top: 1em;
      display: inline-block;
      .leaf{
        display: inline-block;
        font-size: em(24,18);
        a{
          &.active{
            .ic-grid, 
            .ic-list {
              &:before{
                color: $col-primary;
              }
            }
          }
        }
        &:first-child{
          margin-right: .2em;
        }
      }
    }
    &:after {
      content: '.';
      visibility: hidden;
      display: block;
      clear: both;
    }
  }
  .search-results{
    margin-top: $space;
    margin-bottom: $space;
    width: 100%;
    clear: both;
  }
}



/**
 * Styling of page: /events/list
 */

.page-events-list{
  .search-results{
    .search-result{
      overflow: hidden;
      vertical-align: top;
      border-bottom: $col-gray-25 1px solid;
      padding: 1em;
      min-height: 5em;
      &:first-child{
        border-top: $col-gray-25 1px solid;
      }
      &:hover{
        background-color: $col-gray-10;
      }
      
      @include at-breakpoint($mq-bp-desktop) { 
        .date,
        .category,
        .type,
        .title{
          @include span-columns(6,24);
          vertical-align: top;

          // When there are empty values, we need this to fill the column
          &:after{
            content: '.';
            visibility: hidden;
          }
        }
        .type{
          @include omega;
        }
      }
      
      .title{
        font-style:italic;
        @include ie8_font_fix('b');
      }
    }
  }
}

/**
 * Styling of page: /events/grid
 */
.page-events-grid{
  .search-results{
    @include container;
    margin-bottom: $space;

    .search-result{
      @include at-breakpoint($mq-bp-tablet) {
        @include span-columns(3, 6);

        &.even {
          @include omega;
        }

        &.odd {
          clear: both;
        }
      }
      @include at-breakpoint($mq-bp-desktop) {
        @include span-columns(2, 6);

        &.third {
          @include omega;
        }

        &.first {
          clear: both;
        }
      }
      
      @include add-shadow;
      padding-left: 0;
      padding-right: 0;
      border: $col-gray-25 1px solid; 
      margin-bottom: 1.8em;

      img{
        width: 100%;
      }

      &:hover{
        background-color: $col-gray-10;
      }

      .date,
      .category,
      .type,
      .title{
        margin: em(5,18) em(18,18);
        vertical-align: top;
      }
      .date{
        color: $col-gray-70;
      }
      .title, 
      .type {
        font-weight: bold;
      }
      .type {
        font-style: italic;
      }
      .category {
        &:before {
          @extend %icon;
          @extend .ic-location:before;
          margin-right: 7px;
          position: relative;
          top: 1px;
        }
        font-size: $text-meta;
        color: $col-gray-70;
      }
    }
  }
}

