span.image-annotator-pointer span, span.image-annotator-rectangle span, span.image-annotator-pointer-label span {
  background-color: #0074BD;
  color: white;
  padding: 0 2px;
}

span.image-annotator-rectangle.ui-draggable {
  cursor: move;
}
span.image-annotator-pointer.ui-draggable {
  cursor: move;
}
span.image-annotator-pointer-label{
  display: block;
}

span.image-annotator-rectangle{
  background-color: #0074BD;
  color: white;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

span.image-annotator-rectangle span {
  opacity:1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

span.image-annotator-pointer-label span {
  margin: 0 3px 0 0;
}

