@charset "UTF-8";

// Import libraries
@import "compass";
@import "breakpoint";
@import "susy";

@import "partials/variables";
@import "partials/mixins";
@import "partials/typography";
@import "partials/header";
@import "partials/footer";
@import "partials/search";
@import "partials/school_event";
@import "partials/forms";
@import "partials/pager_slideshow";
@import "partials/icons";
@import "partials/faq";

.page {
  background-image: none;
}

.sec-content {
  background: $lightgray;
  .sec-inner {
    background: $lightgray;
  }
}

.sec-msg {
  clear: both;
}

.front {
  .panel-3col-33-stacked {
    margin-top: -30px;
  }
  .sec-content .sec-inner, .sec-content .menu-serv-wrapper {
    padding-top: 0;
  }
}
